.scenario-list-item-container {
  padding: 0em;
  display: flex;
  flex-direction: row;
  width: 100%;

  mat-card-content {
    min-width: 90%;
    max-width: 90%;
    margin-left: 7%;
    padding: 1.7%;
  }

  mat-card-title {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0;
  }

  .scenario-options-menu {
    position: relative;
    bottom: 0.6em;
  }

  .verb {
    font-weight: bold;
    text-align: center;
    vertical-align: 50%;
    font-size: 0.75em;
  }

  .post {
    min-width: 10%;
    max-width: 10%;
  }

  .put {
    min-width: 10%;
    max-width: 10%;
  }

  .get {
    min-width: 10%;
    max-width: 10%;
  }

  .delete {
    min-width: 10%;
    max-width: 10%;
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 80%;
    max-width: 80%;
  }
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
