<mat-card class="mat-elevation-z20 import-from-file-container">
  <mat-card-title>Import From File</mat-card-title>
  <mat-card-subtitle
    >Import an existing Mockdefinition file below</mat-card-subtitle
  >
  <app-file-input
    class="capitalize"
    (fileContent)="setMockDefinition($event)"
    (fileNameEmit)="setMockDefinitionName($event)"
    label="Select File - Required"
    accept=".json"
    [errorMessage]="errorMessageToEmitFromCreate"
  >
  </app-file-input>
  <mat-card-subtitle>Imported Mockdefinition</mat-card-subtitle>
  <mat-card class="import-from-file">
    <mat-list>
      <mat-list-item>
        <h3 matLine>
          {{ mockDefinitionNameString }}
        </h3>
        <p *ngIf="!isValid()" matLine>Valid File Required</p>
        <mat-icon matListIcon *ngIf="!isValid()" color="warn">cancel</mat-icon>
        <mat-icon matListIcon *ngIf="isValid()" color="primary">check_circle_outline</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>

  <div class="row buttons-div">
    <button mat-raised-button color="primary" (click)="goBack()">
      Back
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="createMock()"
    >
      Next
    </button>
  </div>
</mat-card>
