<mat-card class="mat-elevation-z20 import-from-file-container">
  <mat-card-title>Import From File</mat-card-title>
  <mat-card-subtitle
    >Import an existing Mockdefinition file below</mat-card-subtitle
  >
  <app-file-input
    class="capitalize"
    (fileContentEmit)="setMockDefinition($event)"
    (fileNameEmit)="setMockDefinitionName($event)"
    (clearContentEmit)="checkEmit($event)"
    label="Select Files - Required"
    accept=".json"
    [errorMessage]="errorMessageToEmitFromCreate"
  >
  </app-file-input>
  <mat-card-subtitle>Imported Mockdefinition</mat-card-subtitle>
  <mat-card class="import-from-file">
    <mat-list>
      <mat-list-item>
        <h3 matLine>
          <ul class="noDots">
            <li *ngFor="let mocks of mockdefinitionValid">
              {{ mocks | titlecase }}
              <mat-icon matListIcon  color="primary">check_circle_outline</mat-icon>
            </li>
            <li *ngFor="let mocks of mockdefinitionInvalid">
              {{ mocks | titlecase }}
              <mat-icon matListIcon  color="warn">cancel</mat-icon>
            </li>
          </ul>
        </h3>
        <p *ngIf="!isValid()" matLine>Valid File Required</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>

  <div class="row buttons-div">
    <button mat-raised-button color="primary" (click)="goBack()">
      Back
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="buttonDisabled"
      (click)="createMock()"
    >
      Next
    </button>
  </div>
</mat-card>
