.row {
  display: flex;
}

.url-path {
  flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.url-type {
  margin-right: 1.5rem;
}

.mat-card {
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.error-message {
  padding-left: 1.5rem;
}

.delete-button {
  background: none;
  border: 0;
  margin-right: 0;
}

.delete-button-container {
  display: flex;
  padding-right: 1em;
}

.error-message {
  padding-left: 1.5rem;
  padding-top: 1em;
}
