.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mat-card {
  padding: 0.75em;
  min-width: 35vw;
  margin-bottom: 1em;
}

.kvp-value {
  flex: 1;
  padding-right: 3vw;
}

.delete-button {
  background: none;
  border: 0;
}

.delete-button-container {
  display: flex;
  padding-right: 1em;
}

.kvp-key {
  width: 12%;
  margin-left: 1.5em;
  margin-right: 2em;
}

.rule-type {
  margin-right: 3.25em;
}

.error-message {
  padding-left: 1.5em;
  padding-top: 1em;
}
