<mat-form-field *ngIf="!multiLine">
  <input
    matInput
    [placeholder]="title"
    [formControl]="control"
    (focusout)="setDirty()"
    [errorStateMatcher]="errorStateMatcher"
    autocomplete="off"
    [maxlength]="maxLength"
  />
  <mat-error *ngFor="let error of getErrors()">
    {{ error }}
  </mat-error>
  <mat-hint *ngIf="maxLength" align="end">{{ control.value?.length }}/{{ maxLength }}</mat-hint>
</mat-form-field>
<mat-form-field *ngIf="multiLine">
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="8"
    [placeholder]="title"
    [formControl]="control"
    [errorStateMatcher]="errorStateMatcher"
    autocomplete="off"
    (focusout)="setDirty()"
    [maxlength]="maxLength"
  ></textarea>
  <mat-error *ngFor="let error of getErrors()">
    {{ error }}
  </mat-error>
  <mat-hint *ngIf="maxLength" align="end">{{ control.value?.length }}/{{ maxLength }}</mat-hint>
</mat-form-field>
