<mat-card class="url-add-card">
  <mat-card-content>
    <form class="url-add" [formGroup]="urlAddRuleFormGroup">
      <div class="row">
        <mat-form-field class="url-path">
          <input matInput id="urladdpath" formControlName="path" />
          <mat-hint> {{ path.value?.length || 0 }}/{{ PATH_MAXLENGTH }}</mat-hint>
        </mat-form-field>
        <mat-form-field class="url-type">
          <mat-label>Select Rule</mat-label>
          <mat-select formControlName="type" name="rules">
            <mat-option *ngFor="let r of rules" [value]="r">
              {{ r | getRuleTypeString }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab class="add-button" color="primary" (click)="addUrlRule()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>

    <div *ngIf="path.invalid && (path.dirty || path.touched)">
      <mat-error *ngIf="path.errors.required">Url path is required</mat-error>
      <mat-error *ngIf="path.errors.maxlength">Url path cannot exceed 3000 characters</mat-error>
    </div>

    <div *ngIf="type.invalid && (type.dirty || type.touched)">
      <mat-error *ngIf="type.errors.required">Url rule type is required</mat-error>
    </div>
    <div *ngIf="this.isRuleDuplicated">
      <mat-error>Rule already exists</mat-error>
    </div>
  </mat-card-content>
</mat-card>
