.kvp-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  margin-right: 1.3em;
}

.kvp-value {
  width: 25em;
}

.kvp-key {
  padding-left: 1.3em;
  width: 12%;
}

.error-message {
  padding-left: 1.6em;
}

.row {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
