<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Body Match Rules
      </mat-panel-title>
      <mat-divider id="divider-padding"></mat-divider>
    </mat-expansion-panel-header>

    <p class="description">Add New Body Match Rule</p>
    <mat-checkbox (change)="this.shouldIgnoreBodyRule = $event.checked">Ignore body rule</mat-checkbox>
    <app-add-body-rule [shouldDisable]="this.shouldIgnoreBodyRule"></app-add-body-rule>
  </mat-expansion-panel>
</mat-accordion>
