mat-expansion-panel {
  box-shadow: none!important;
  border: 0!important;
}

p.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.539261);
}

mat-divider#divider-padding {
  margin-top: 1em!important;
}
