<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Body Match Rules
      </mat-panel-title>
      <mat-divider id="divider-padding"></mat-divider>
    </mat-expansion-panel-header>

    <p class="description">Add New Body Match Rule</p>
    <mat-checkbox (change)="this.shouldIgnoreBodyRule = $event.checked">Ignore Body Rule</mat-checkbox>
    <app-add-body-rule [shouldDisable]="this.shouldIgnoreBodyRule" (bodyRuleOutput)="addBodyRule($event)"></app-add-body-rule>
    <div *ngIf="!this.bodyRulesProp.length">
      No rules Added
    </div>
    <div *ngIf="this.bodyRulesProp.length">
      <p class="description">Added Body Match Rules</p>
    </div>
    <div *ngFor="let bodyRule of this.bodyRulesProp">
      <app-body-rule-list-item [bodyRule]="bodyRule"></app-body-rule-list-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
