<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Header Match Rules
      </mat-panel-title>
      <mat-divider class="divider-padding"></mat-divider>
    </mat-expansion-panel-header>
    <p class="description">Add New Header Match Rule</p>
    <app-kvp-add (kvp)="addKvpToMap($event)"></app-kvp-add>

    <mat-divider class="divider-padding"></mat-divider>
    <div>
      <p class="description">Added Header Match Rules</p>
    </div>
    <div *ngIf="!this.savedKvpMap.size">
      No rules Added
    </div>
    <div *ngFor="let headerRule of savedKvpMap | keyvalue">
      <app-kvp-list-item
        [kvp]="headerRule"
        (removeKvp)="deleteKvpFromMap($event)"
      ></app-kvp-list-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
