<mat-card class="column">
  <mat-card-title class="capitalize">Import from Server</mat-card-title>
  <mat-card-subtitle
    >Import an existing MockDefinition file below</mat-card-subtitle
  >
  <div class="column center-hr flex-grow div-body">
    <app-tool-tip
      message="Enter the Server URI that your MockDefinition files are hosted on"
    >
      <app-rest-request-input
        title="Server URI"
        buttonName="Fetch"
        (responseReceived)="onResponse($event)"
        [concatToURI]="getAllEndpoint"
        [errors]="errors"
      ></app-rest-request-input>
    </app-tool-tip>
    <div class="row flex-grow shuttle-list-div">
      <app-searchable-list
        class="row"
        [list]="formArray.controls | filterInvalidControls"
        [itemToStringFn]="controlsMockDefinitionToString"
        [itemTemplate]="listItemTemplate"
        [emptyListMessage]="emptyListMessageServerBox"
      ></app-searchable-list>
    </div>
  </div>
  <div class="row button-div">
    <button mat-raised-button color="primary" (click)="onBack()">
      Back
    </button>
    <button mat-raised-button color="primary" [disabled]="disabled">
      Next
    </button>
  </div>
</mat-card>

<ng-template #listItemTemplate let-control="item">
  <div>
    <h5>{{ control.value?.metadata?.title }}</h5>
  </div>
</ng-template>
