<mat-card>
  <mat-card-content>
    <form>
      <div class="row">
        <div>
          <h3 class="subtitle">Rule Type</h3>
          <mat-form-field>
            <mat-label>Body Rule Type</mat-label>
            <mat-select
              [value]="this.bodyType"
              (valueChange)="this.bodyType = $event"
            >
              <mat-option value="{{ bodyRuleTypeValues.BodyContains }}"
                >Body Contains</mat-option
              >
              <mat-option value="{{ bodyRuleTypeValues.BodyEquality }}"
                >Body Equality</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="full-width" id="spacer-left">
          <mat-form-field class="full-width">
            <h3 class="subtitle" id="value">Value</h3>
            <textarea
              matInput
              rows="10"
              [(ngModel)]="this.bodyValue"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
            <div class="error-message" *ngIf="isBodyRuleValid()">
              {{ this.errorMessage }}
            </div>
          </mat-form-field>
        </div>
        <div id="add-button-container">
          <button mat-mini-fab color="primary" (click)="addBodyRule()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
