mat-expansion-panel {
  box-shadow: none !important;
  border: 0 !important;
}

p.text-description {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
}

div#add-button-wrapper {
  position: sticky;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.divider-padding {
  margin-top: 1em;
}

.body-edit-rule {
  display: flex;
  flex-direction: column;
}

.add-rule {
  padding-bottom: 1em;
}
