<div class="body-edit-rule">
  <mat-card>
    <div *ngIf="this.bodyRuleFormIsEmpty">
      <p class="text-description">
        It looks like you don't have any rules. Click on the add button below to get started.
      </p>
    </div>
    <ng-template [ngIf]="this.bodyMatchRuleFormArray.controls.length">
      <div *ngFor="let bodyruleform of bodyMatchRuleFormArray.controls; let i = index">
        <app-body-list-item-rule-type
          [bodyEditRuleFormGroup]="bodyruleform"
          (bodyRuleRemovedEventEmitter)="deleteBodyEditRuleHandler(i)"
        ></app-body-list-item-rule-type>
      </div>
    </ng-template>
    <div *ngIf="this.addingNewBodyRule">
      <app-body-add-rule
        class="add-rule"
        (bodyRuleAddedEventEmitter)="addBodyEditRuleHandler($event)"
        [bodyRuleAddedIsDuplicated]="this.bodyRuleIsDuplicated"
      >
      </app-body-add-rule>
    </div>
    <div id="add-button-wrapper" (click)="addEmptyBodyRule()">
      <button color="primary" class="add-button mat-mini-fab mat-button-base mat-primary" ng-reflect-color="primary">
        <span class="mat-button-wrapper">
          <mat-icon
            role="img"
            class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true"
            data-mat-icon-type="font"
            >add
          </mat-icon>
        </span>
        <span
          lass="mat-ripple mat-button-ripple mat-button-ripple-round"
          ng-reflect-disabled="false"
          ng-reflect-centered="false"
          ng-reflect-trigger="[object HTMLButtonElement]"
        ></span>
        <span class="mat-button-focus-overlay"></span>
      </button>
    </div>
  </mat-card>
</div>
