<div class="fullscreen column center-hr">
  <div class="container endpointview">
    <div class="row">
      <div class="sidebar">
        <app-side-bar></app-side-bar>
      </div>
      <div class="endpoint">
        <div>
          <app-overview [metadata]="mockDefinition?.metadata"></app-overview>
        </div>
        <div>
          <app-search-bar
            [list]="endpointList"
            (filteredList)="setFilteredList($event)"
            [itemToStringFn]="endpointToString"
          >
          </app-search-bar>
          <app-endpoint-list [endpoints]="filteredList"></app-endpoint-list>
        </div>
      </div>
    </div>
  </div>
</div>
