app-overview {
  width: 80%;
  height: 19% !important;
  margin-top: 0.5%;
  display: flex;
  flex-direction: column;
}

app-search-bar {
  width: 75vw;
}

app-endpoint-list-item {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: row;
}
