.container.editor {
  width: 95vw !important;
  min-height: 85vh !important;
  margin-top: 2vh;
  -webkit-box-shadow: 0px 1px 12px 3px rgba(153, 148, 153, 1);
  -moz-box-shadow: 0px 1px 12px 3px rgba(153, 148, 153, 1);
  box-shadow: 0px 1px 12px 3px rgba(153, 148, 153, 1);
}

.tab-warning-icon {
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 1.4rem;
  margin-left: 0.25rem;
}

button#save-button {
  min-width: 9rem;
  &:hover {
    background-color: #005c50;
  }
}

.w-100 {
  width: 100%;
}

.mr-1 {
  margin-right: 1rem;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.endpoint-info {
  display: flex;
  align-items: center;
}

.tab-body {
  padding: 1.5rem;
}

.button-row {
  justify-content: space-between;
  margin: 1rem;
}
