<div class="fullscreen column center-hr">
  <div class="container editor">
    <div class="row">
      <div class="sidebar row">
        <app-side-bar class="row"></app-side-bar>
      </div>
      <div class="w-100" [formGroup]="scenarioForm">
        <div>
          <app-overview-header [header]="headerContent"></app-overview-header>
        </div>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              General
              <mat-icon
                class="tab-warning-icon"
                color="warn"
                *ngIf="(!metadata.valid && metadata.touched) || !policies.valid"
                >priority_high</mat-icon
              >
            </ng-template>
            <div class="tab-body">
              <h3 class="mat-h3">Metadata</h3>
              <app-metadata-form formControlName="metadata" [touched]="touched"></app-metadata-form>
              <br />
              <h3 class="mat-h3">Policies</h3>
              <app-policies-form formControlName="policies"></app-policies-form>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Request
              <mat-icon class="tab-warning-icon" color="warn" *ngIf="!request.valid">priority_high</mat-icon>
            </ng-template>
            <div class="tab-body">
              <app-request-form formControlName="request"></app-request-form>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Response
              <mat-icon class="tab-warning-icon" color="warn" *ngIf="!response.valid">priority_high</mat-icon>
            </ng-template>
            <div class="tab-body">
              <app-response-form formControlName="response"></app-response-form>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div class="row button-row">
          <div id="scenario-back-button-div">
            <button id="go-to-scenarios" mat-raised-button (click)="cancel()">
              <mat-icon>chevron_left</mat-icon>Back to Scenarios
            </button>
          </div>
          <div id="save-button-div">
            <button id="save-button" color="primary" mat-raised-button (click)="save()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #headerContent let-path="path">
  <div class="title column center">
    <div class="endpoint-info">
      <mat-chip-list class="mr-1">
        <mat-chip [style.background-color]="endpointVerb | getVerbColor">{{ endpointVerb | getVerbString }}</mat-chip>
      </mat-chip-list>
      <h3>
        {{ endpointPath }}
      </h3>
    </div>
    <div>
      <h3>
        {{ selectedScenario?.metadata?.title || 'New Scenario' }}
      </h3>
    </div>
  </div>
</ng-template>

<div class="overlay" *ngIf="triggerOpenCancelBox">
  <div>
    <mat-card>
      <app-dialog-box
        titleText="Confirm Scenario Changes Discard"
        confirmButtonText="Confirm"
        cancelButtonText="Cancel"
        bodyText="Are you sure you want to discard your unsaved changes?"
        (choiceBoolean)="onCancelDialogAction($event)"
      ></app-dialog-box>
    </mat-card>
  </div>
</div>
