<div class="input-group">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input form-control"
      accept=".json"
      id="mockDefinitionFile"
      (change)="onFileInput($event.target.files)"
    />
    <label class="custom-file-label" htmlFor="mockDefinitionFile">
      {{ fileName }}
    </label>
  </div>
  <div
    [style.visibility]="!!this.showError ? 'visible' : 'hidden'"
    class="d-block invalid-feedback mt-2 pt-2"
  >
    Please provide a valid Mock Definition
  </div>
</div>
