<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          Metadata
        </mat-panel-title>
        <mat-divider id="divider-padding"></mat-divider>
      </mat-expansion-panel-header>
      <mat-form-field class="fullwidth">
          <input
            [(ngModel)]="this.metadataTitle"
            matInput
            placeholder="Name"
          />
        </mat-form-field>
        <mat-form-field class="fullwidth">
          <input
            [(ngModel)]="this.metadataDescription"
            matInput
            placeholder="Description"
          />
        </mat-form-field>
        <div class="error-message" *ngIf="metadataHasError()">
          {{ this.errorMessage }}
        </div>
    </mat-expansion-panel>
  </mat-accordion>
