<mat-card>
  <mat-form-field class="fullwidth">
    <input [(ngModel)]="this.metadataTitle" matInput placeholder="Name" />
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input [(ngModel)]="this.metadataDescription" matInput placeholder="Description" />
  </mat-form-field>
  <div class="error-message" *ngIf="this.titleErrorMessage.length > 0">
    {{ this.titleErrorMessage }}
  </div>
  <div class="error-message" *ngIf="this.descriptionErrorMessage.length > 0">
    {{ this.descriptionErrorMessage }}
  </div>
</mat-card>
