<div class="fullscreen column center-hr">
  <div class="logo">
    <h1>
      Orbital Logo
    </h1>
  </div>
  <mat-card class="card">
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="217">
        <mat-grid-tile colspan="1">
          <div class="column center tile-content">
            <h2>New from OpenAPI Definition</h2>
            <div class="column center buttons">
              <button mat-raised-button class="capitalize" color="primary">
                Create New Mock
              </button>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <!-- Create a component for this -->
          <div class="column center tile-content">
            <h2>Existing from MockDefinitionFile</h2>
            <div class="column center buttons">
              <button mat-raised-button class="capitalize" color="primary">
                Import From File
              </button>
              <button mat-raised-button class="capitalize" color="primary">
                Import From Server
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
