<mat-card>
  <mat-card-content>
    <form class="policy-add" [formGroup]="policyAddFormGroup">
      <div class="row">
        <div formArrayName="attributes">
          <div *ngFor="let policy of policyAddFormGroup.get('attributes').value; let i = index" [formGroupName]="i">
            <mat-form-field class="policy-value" *ngIf="isDelayPolicy(policyType.value)">
              <input matInput formControlName="delayTime" />
              <mat-hint> milliseconds to delay response</mat-hint>
              <div *ngIf="policy.delayTime.invalid && (policy.delayTime.dirty || policy.delayTime.touched)">
                <mat-error *ngIf="policy.delayTime.errors.required">
                  Number of milliseconds is needed
                </mat-error>
                <mat-error *ngIf="policy.delayTime.errors.min">
                  Must be above 0
                </mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field>
          <mat-label>Select Policy</mat-label>
          <mat-select formControlName="policyType" name="policies">
            <mat-option *ngFor="let p of policies" [value]="p.value">
              {{ p.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab class="add-button" color="primary" (click)="addPolicy()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>

    <div *ngIf="policyType.invalid && (policyType.dirty || policyType.touched)">
      <mat-error *ngIf="policyType.errors.required">
        Policy type is required
      </mat-error>
    </div>
    <div *ngIf="this.isPolicyDuplicated">
      <mat-error>
        Policy already exists
      </mat-error>
    </div>
  </mat-card-content>
</mat-card>
