<mat-card>
  <mat-card-content>
    <div class="row">
      <form class="policy-add" [formGroup]="policyAddFormGroup">
        <div *ngFor="let policy of attributes.controls; let i = index" [formGroup]="policy">
          <div *ngIf="isDelayPolicy(policyType.value)">
            <mat-form-field class="policy-value">
              <input matInput #inputDelay formControlName="delay" />
              <mat-hint> milliseconds to delay response</mat-hint>
            </mat-form-field>
            <div *ngIf="delay.invalid && (delay.dirty || delay.touched)">
              <mat-error *ngIf="delay.errors.required">
                Number of milliseconds is needed
              </mat-error>
              <mat-error *ngIf="delay.errors.min">
                Should be more than 0 milliseconds
              </mat-error>
              <mat-error *ngIf="delay.errors.pattern">
                Cannot contain spaces or be a negative number
              </mat-error>
            </div>
          </div>
        </div>
        <mat-form-field class="policy-type">
          <mat-label>Select Policy</mat-label>
          <mat-select formControlName="policyType" name="policies">
            <mat-option *ngFor="let p of policies" [value]="p.value">
              {{ p.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab class="add-button" color="primary" (click)="addPolicy()">
          <mat-icon>add</mat-icon>
        </button>
      </form>
    </div>

    <div *ngIf="policyType.invalid && (policyType.dirty || policyType.touched)">
      <mat-error *ngIf="policyType.errors.required">
        Policy type is required
      </mat-error>
    </div>
    <div *ngIf="this.isPolicyDuplicated">
      <mat-error>
        Policy already exists
      </mat-error>
    </div>
  </mat-card-content>
</mat-card>
