<div
  *ngIf="endpoint; else noEndpoint"
  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
  (click)="this.app.selectedEndpoint = this.endpoint"
  [ngClass]="{ selected: this.selected === true }"
>
  <div class="flex-column">
    <h6>
      {{ endpoint.path }}
    </h6>
    <p class="text-muted" *ngIf="endpoint.spec && endpoint.spec.description">
      <small>
        {{ endpoint.spec.description }}
      </small>
    </p>
    <span
      [class]="this.endpoint.verb | getVerbColor: 'badge badge-pill badge-'"
      >{{ endpoint.verb }}</span
    >
  </div>
</div>

<ng-template #noEndpoint>
  <div class="center">
    <p>No endpoint were found.</p>
  </div>
</ng-template>
