.scenariolistcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  mat-list-item {
    margin-top: 1.4em;
    width: 100%;
  }

  app-scenario-list-item {
    width: 100%;
  }
}
