.side-bar-container {
    min-width: 14vw;
}
.side-bar-top {
    min-width: 14vw !important;
    min-height: 2.9vw !important;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    h1 {
       opacity: 0.54;
       font-size: 1em; 
       margin-left: 1.5em;
    }
}

.divider {
    width: 90% !important;
    margin-left: 5% !important;
}

.side-bar-middle {
    min-width: 14vw !important;      
    height: 33% !important;
}

.side-bar-bottom {
    min-width: 14vw !important;       
    height: 33% !important;
    margin-top: 3vw;
}

mat-action-list button mat-icon {
    opacity: 0.54;
}

mat-action-list button h4 {
    font-size: 0.9em !important;    
}

mat-action-list button:hover {
    background: #F0F0F0;
    cursor: pointer;
    button {
        background: #F0F0F0;        
    }
}