<div class="side-bar-container" mode="side" opened>
    <div class="side-bar-top">
        <h1>MOCKDEFINITIONS</h1>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="side-bar-middle">
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                <h4 mat-line>MockDefinition1</h4>
            </mat-list-item>
            <mat-list-item>
                    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                    <h4 mat-line>MockDefinition2</h4>
                </mat-list-item>
                <mat-list-item>
                        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                        <h4 mat-line>MockDefinition3</h4>
                    </mat-list-item>
        </mat-list>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="side-bar-bottom">
        
    </div>
</div>

