mat-form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    .div-file-name {
      flex: 1;
      color: rgba(0, 0, 0, 0.38);
      align-items: center;
      overflow: hidden;
    }
  }
}
.noDots {
  list-style-type: none;
  list-style-image: none;
}
