<mat-form-field floatLabel="always">
  <mat-label>{{ label }}</mat-label>
  <div>
    <div class="div-file-name">{{ display }}</div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="fileInput.click()"
    >
      Choose File
    </button>
  </div>
  <input
    #fileInput
    type="file"
    (change)="onFileChange($event.target.files)"
    style="display:none;"
    [accept]="accept"
  />
  <input
    matInput
    [formControl]="control"
    style="display:none;"
    [errorStateMatcher]="errorStateMatcher"
  />
  <mat-error *ngFor="let error of errorMessages">
    {{ error }}
  </mat-error>
</mat-form-field>
