<div
  *ngIf="this.scenarios?.length > 0; else noScenarios"
  class="container overflow-auto"
>
  <div *ngFor="let scenario of this.scenarios" class="row my-4">
    <app-scenario-details
      class="col-sm-11 mx-auto"
      *ngIf="scenario"
      [scenario]="scenario"
    ></app-scenario-details>
  </div>
</div>

<hr />

<div class="row mt-3">
  <div class="col-sm-11 mx-auto d-flex justify-content-between">
    <button nbButton (click)="onAdd()">Edit Scenarios</button>
  </div>
</div>

<ng-template #noScenarios>
  <div class="center">
    <p>
      No scenarios found. Click on the 'Edit Scenarios' button to start adding
      some scenarios
    </p>
  </div>
</ng-template>
