<mat-card appearance="raised" [formGroup]="form" class="key-value-ruleform-container">
  <div class="mat-h3 policy-title" *ngIf="title">{{ title }}</div>

  <div class="row">
    <mat-form-field class="flex-grow">
      <input formControlName="key" matInput [maxlength]="keyMaxLength" placeholder="Key" (blur)="touch()" />
      <mat-hint>{{ key.value?.length || 0 }}/{{ keyMaxLength }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="flex-grow-2">
      <input formControlName="value" matInput [maxlength]="valueMaxLength" placeholder="Value" (blur)="touch()" />
      <mat-hint>{{ value.value?.length || 0 }}/{{ valueMaxLength }}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Value Rule</mat-label>
      <mat-select formControlName="type" (blur)="touch()">
        <mat-option *ngFor="let ruleType of ruleTypes" [value]="ruleType.value">
          {{ ruleType.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-mini-fab
      *ngIf="mode === 'add'"
      color="primary"
      [disabled]="!form.valid || !form.touched"
      (click)="addItem()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="mode === 'edit'" color="warn" (click)="removeItem()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="key.invalid && key.errors && (key.dirty || key.touched)">
    <mat-error *ngIf="key.errors.required">The Key is required</mat-error>
    <mat-error *ngFor="let error of key.errors | getStringErrors">{{ error }}</mat-error>
  </ng-container>
  <ng-container *ngIf="value.invalid && value.errors && (value.dirty || value.touched)">
    <mat-error *ngIf="value.errors.required">The Value is required</mat-error>
    <mat-error *ngFor="let error of value.errors | getStringErrors">{{ error }}</mat-error>
  </ng-container>
  <ng-container *ngIf="type.invalid && type.errors && (type.dirty || type.touched)">
    <mat-error *ngIf="type.errors.required">The Value Rule is required</mat-error>
    <mat-error *ngFor="let error of type.errors | getStringErrors">{{ error }}</mat-error>
  </ng-container>
  <ng-container *ngIf="form.invalid && form.errors && (form.dirty || form.touched)">
    <mat-error *ngFor="let error of form.errors | getStringErrors">{{ error }}</mat-error>
  </ng-container>
  <mat-error *ngFor="let error of errors">{{ error }}</mat-error>
</mat-card>
