h3.subtitle {
  color: rgba(0, 0, 0, 0.539261);
  font-weight: normal;
}

#value {
  margin-top: 0px
}

.full-width {
  width: 100%;
}

#spacer-left {
  padding-left: 125px
}

#add {
  font-size: 1.6em;
  font-weight: 300;
}
