<mat-card>
  <mat-card-content>
    <form [formGroup]="this.addBodyRuleFormGroup">
      <div class="row">
        <div>
          <h3 class="subtitle">Rule Type</h3>
          <mat-form-field>
            <mat-label>Body Rule Type</mat-label>
            <mat-select [formControl]="this.addBodyRuleFormGroup.controls['bodyType']" (selectionChange)="this.changedBodyTypeDropdown()">
              <mat-option value="bodyIgnore">Body Ignore</mat-option>
              <mat-option value="bodyContains">Body Contains</mat-option>
              <mat-option value="bodyEquality">Body Equality</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="full-width" id="spacer-left">
          <mat-form-field class="full-width">
            <h3 class="subtitle" id="value">Value</h3>
            <textarea matInput rows="10" [formControl]="this.addBodyRuleFormGroup.controls['bodyValue']">{}</textarea>
          </mat-form-field>
        </div>
        <div>
          <button id="add" mat-fab color="primary" (click)="addBodyRule()" [disabled]="shouldDisableAddingBodyRuleButton()">+</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
