<mat-card class="example-card">
  <mat-card-content>
    <div style="display: flex">
    <div>
    <h3 class="subtitle">Rule Type</h3>
      <mat-form-field>
        <mat-label>Body Rule Type</mat-label>
            <mat-select>
                <mat-option value="bodyIgnore">Body Ignore</mat-option>
                <mat-option value="bodyContains">Body Contains</mat-option>
                <mat-option value="bodyEquality">Body Equality</mat-option>
            </mat-select>
      </mat-form-field>
    </div>
    <div style="width: 100%; padding-left: 125px">
      <mat-form-field style="width: 100%;">
        <h3 class="subtitle" style="margin-top: 0px">Value</h3>
          <textarea matInput rows="10">{}</textarea>
      </mat-form-field>
    </div>
    <div>
        <button style="font-size: 1.6em" mat-fab color="primary">+</button>
    </div>
  </div>
  </mat-card-content>
</mat-card>
