<mat-card appearance="raised" class="column" id="container">
  <mat-card-title class="capitalize">Delete from Server</mat-card-title>
  <mat-card-subtitle>Delete existing Mockdefinition(s) below</mat-card-subtitle>
  <div class="column center-hr flex-grow div-body">
    <app-tooltip message="Enter the Server URI that your Mockdefinition(s) are hosted on">
      <form>
        <div class="container">
          <div class="uri-field">
            <app-text-input [title]="title" [maxLength]="200" [control]="inputControl"></app-text-input>
            <mat-hint class="status-message" *ngIf="statusMessage?.length">
              {{ statusMessage }}
            </mat-hint>
            <mat-hint class="error-message" *ngIf="errorMessage?.length">
              {{ errorMessage }}
            </mat-hint>
          </div>

          <div id="submit-buttons">
            <button
              mat-raised-button
              color="primary"
              (click)="sendRequest()"
              [disabled]="sendRequestDisabled()"
              class="btn-upload"
            >
              Submit
            </button>
            <mat-spinner diameter="25" [id]="getSpinnerId()"></mat-spinner>
          </div>
          <div class="overlay" *ngIf="triggerOpenConfirmBox">
            <div>
              <mat-card appearance="raised" class="dialog-modal">
                <app-dialog-box
                  titleText="Confirm Mockdefinition Deletion"
                  confirmButtonText="Confirm"
                  cancelButtonText="Cancel"
                  bodyText="Are you sure you want to delete these Mockdefinitions from the server?"
                  (choiceBoolean)="onConfirmDialogAction($event)"
                ></app-dialog-box>
              </mat-card>
            </div>
          </div>
        </div>
      </form>
    </app-tooltip>
    <app-shuttle-list
      class="column flex-grow"
      [list]="formArray.controls"
      [itemToStringFn]="controlsMockDefinitionToString"
      [emptyListMessage]="emptyListMessageServerBox"
      leftTitle="Mockdefinition(s) from Server"
      rightTitle="Mockdefinition(s) To Delete"
      (outputList)="onListOutput($event)"
    ></app-shuttle-list>
  </div>
  <div class="row button-div">
    <button mat-raised-button color="primary" (click)="onBack()">Back</button>
    <button mat-raised-button color="primary" [disabled]="disabled" (click)="triggerOpenConfirmationBox()">
      Delete
    </button>
  </div>
</mat-card>
