<div class="response-type">Response Type</div>

<mat-checkbox [formControl]="shadowType" id="shadowType"> Templated </mat-checkbox>

<mat-divider class="divider-padding"></mat-divider>

<form [formGroup]="this.responseFormGroup">
  <div class="response-code">
    <div class="status-code">
      Status Code
      <mat-form-field class="status-code-field">
        <input matInput class="status-code-input" formControlName="status" />
      </mat-form-field>
    </div>
    <div class="status-message">
      Status Message
      <div class="status-message-output">
        {{ statusMessage }}
      </div>
    </div>
  </div>
  <div class="error-message mb" *ngIf="!!this.responseFormGroup.controls.status.errors">Invalid Status Code</div>

  <mat-divider class="divider-padding mt-0"></mat-divider>

  <app-kvp-edit
    [addKvpTitle]="titleForKvp"
    [listKvpTitle]="titleForKvpAdded"
    [isCaseSensitive]="false"
    [Save]="this.shouldSave"
    [kvp]="this.headers"
    (savedKvpEmitter)="saveHeaders($event)"
  ></app-kvp-edit>

  <mat-divider class="divider-padding"></mat-divider>

  <div class="response-body">
    <div class="body-title">Body</div>
    <json-editor [options]="options" [data]="bodyData" #editor (click)="changeLog()"></json-editor>
  </div>

  <div class="error-message" *ngIf="!!this.responseFormGroup.controls.body.errors">
    <mat-error>{{ this.responseFormGroup.controls.body.errors.invalidJson }}</mat-error>
  </div>
</form>
