<mat-accordion>
  <mat-expansion-panel
    class="response-dropdown"
    [disabled]="this.isCardDisabled"
    [expanded]="this.panelExpanded"
  >
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Response
      </mat-panel-title>
      <mat-panel-description
        >Response Header, Response Body, and Status Code</mat-panel-description
      >
    </mat-expansion-panel-header>
     <div class="response-type">Response Type</div>
      <mat-checkbox [formControl]="shadowType" id="shadowType">
        Templated
      </mat-checkbox>
      <form [formGroup]="this.responseFormGroup">
      <mat-divider class="divider-padding"></mat-divider>
      <div class="response-code">
        <div class="status-code">
          Status Code
          <mat-form-field class="status-code-field">
            <input matInput class="status-code-input" formControlName="status" />
          </mat-form-field>
        </div>
        <div class="status-message">
          Status Message
          <div class="status-message-output">
            {{ statusMessage }}
          </div>
        </div>
      </div>
      <div class="error-message" *ngIf="!!this.responseFormGroup.controls.status.errors">
        Invalid Status Code
      </div>
    <app-kvp-edit
      [addKvpTitle]="titleForKvp"
      [listKvpTitle]="titleForKvpAdded"
      [isCaseSensitive]="false"
      [Save]="this.shouldSave"
      [kvp]="this.headers"
      (savedKvpEmitter)="saveHeaders($event)"
    ></app-kvp-edit>
    <div class="response-body">
      <div class="body-title">Body</div>
        <json-editor [options]="options" [data]="bodyData" #editor (click)='changeLog()'></json-editor>
    </div>
    <div class="error-message" *ngIf="!!this.responseFormGroup.controls.body.errors">
      <mat-error>{{ this.responseFormGroup.controls.body.errors.invalidJson }}</mat-error>
    </div>
  </form>
  </mat-expansion-panel>
</mat-accordion>
