// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$orbital-designer-primary: mat-palette($mat-teal, 500);
$orbital-designer-accent: mat-palette($mat-light-blue, 500);

// The warn palette is optional (defaults to red).
$orbital-designer-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$orbital-designer-theme: mat-light-theme(
  $orbital-designer-primary,
  $orbital-designer-accent,
  $orbital-designer-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($orbital-designer-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.fullscreen {
  width: 100vw;
  min-height: 100%;
}

.min-card-height {
  min-height: 7vh;
}

.column {
  display: flex !important;
  flex-direction: column;

  &.center-hr {
    align-items: center;
  }

  &.center-vt {
    justify-content: center;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.row {
  display: flex !important;
  flex-direction: row;

  &.center-vt {
    align-items: center;
  }

  &.center-hr {
    justify-content: center;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.flex-grow {
  flex: 1;
}

.flex-shrink {
  flex: 0 2 auto;
}

.mat-tooltip {
  font-size: 12px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.error-message {
  color: rgb(244, 67, 54);
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 13px;
  line-height: 13.5px;
  text-align: left;
}

.error-message {
  color: rgb(244, 67, 54);
  display: block;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 13px;
  line-height: 13.5px;
  text-align: left;
}
