<mat-card class="kvp-add-card">
  <mat-card-content>
    <form class="kvp-add">
      <div class="row">
        <mat-form-field class="kvp-key">
          <input
            matInput
            placeholder="Key"
            [(ngModel)]="key"
            name="key-input"
            maxlength="200"
          />
          <mat-hint> {{ key?.length || 0 }}/200</mat-hint>
        </mat-form-field>
        <mat-form-field class="kvp-value">
          <input
            matInput
            placeholder="Value"
            [(ngModel)]="value"
            name="value-input"
            maxlength="3000"
          />
          <mat-hint> {{ value?.length || 0 }}/3000</mat-hint>
        </mat-form-field>
        <mat-form-field class="kvp-type">
          <mat-label>Select Rule</mat-label>
          <mat-select [(ngModel)]="ruleType" name="rule-type" required>
            <div *ngFor="let rule of rules">
              <mat-option [value]="rule.value">
                {{ rule.viewValue }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <button
          mat-mini-fab
          class="add-button"
          color="primary"
          (click)="onAdd()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
    <div class="error-message" *ngIf="!this.isValid">
      {{ this.errorMessage }}
    </div>
    <div class="error-message" *ngIf="this.ruleIsDuplicated">
      <mat-error>Rule already exists</mat-error>
    </div>
  </mat-card-content>
</mat-card>
