.full-width {
  width: 100%;
}

#spacer-left {
  padding-left: 125px
}

button#delete {
  align-self: flex-start;
  background: none;
  border: 0;
}

div#delete-button-container {
  display: flex;
}

#fake-dropdown {
  outline: none;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  padding: 1em;
  background: none;
  color: rgba(0, 0, 0, 0.38);
  height: 1em;
  width: 10em;
}

#fake-textarea {
  word-wrap: break-word;
  word-break: break-all;
  width: 100%!important;
  border-bottom: 1px solid #9b9b9b;
  height: 15em;
  color: rgba(0, 0, 0, 0.38);
}

div.center-flex {
  display: flex;
  align-items: center;
}

mat-card {
  margin-top: 1.9em;
}
