<mat-form-field *ngIf="!multiLine">
  <input
    matInput
    [placeholder]="title"
    [formControl]="control"
    autocomplete="off"
  />
  <mat-error *ngIf="control.touched && control.invalid">
    {{ errorMessage }}
  </mat-error>
  <mat-hint *ngIf="!!maxLength" align="end"
    >{{ control.value?.length }}/{{ maxLength }}</mat-hint
  >
</mat-form-field>
<!--Code duplication required in order to stop matInput from throwing ExpressionChangedAfterItHasBeenCheckedError-->
<mat-form-field *ngIf="multiLine">
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMaxRows="8"
    [placeholder]="title"
    [formControl]="control"
    autocomplete="off"
  ></textarea>
  <mat-error *ngIf="control.touched && control.invalid">
    {{ errorMessage }}
  </mat-error>
  <mat-hint *ngIf="!!maxLength" align="end"
    >{{ control.value?.length }}/{{ maxLength }}</mat-hint
  >
</mat-form-field>
