<mat-form-field>
  <input
    *ngIf="!multiLine"
    matInput
    [placeholder]="title"
    [formControl]="control"
    autocomplete="off"
  />
  <textarea
    *ngIf="multiLine"
    matInput
    cdkTextareaAutosize
    cdkAutosizeMaxRows="8"
    [placeholder]="title"
    [formControl]="control"
    autocomplete="off"
  ></textarea>
  <mat-error *ngIf="control.invalid">
    {{ errorMessage }}
  </mat-error>
  <mat-hint *ngIf="!!maxLength" align="end"
    >{{ control.value?.length }}/{{ maxLength }}</mat-hint
  >
</mat-form-field>
