.endpoint-list-item-container {
    display: flex;
    flex-grow: 2;
    flex-direction: column; 
    padding: 0em;

    .post-verb {
        flex-grow: 1;
        width: 20%;
        background-color: aquamarine; 
        font-weight: bold;
    }

    .endpoint-uri {
        flex-grow: 5;
        width: 80%; 
        padding: 2em;
    }

    .subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}