<mat-card class="endpointlistitemcontainer">
    <mat-grid-list [cols]="12" class="endpointlistitem">
        <mat-grid-tile [colspan]="2" class="{{endpoint.verb | lowercase}}verb">
            {{endpoint.verb}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="10">
            <div class="endpoint-uri">           
                <mat-card-title> {{endpoint.path}} </mat-card-title>
                <mat-card-subtitle>
                    <div class="subtitle">   
                        <div class="subtitle-left">{{endpointDescription}}</div>
                        <div class="subtitle-right">{{scenarioCount}} Scenarios</div>
                    </div>        
                </mat-card-subtitle>
            </div>
        </mat-grid-tile>
    </mat-grid-list>            
</mat-card>