.endpointlistitemcontainer {
    padding: 0em;
    width: 100%;
    align-content: center;

    .endpointlistitem {
        display: flex;
        flex-direction: row;
        min-width: 80%;
        min-height: 30%;
    }

    .postverb {
        flex-grow: 2;
        background-color: aquamarine !important; 
        font-weight: bold;
    }

    .getverb {
        flex-grow: 2;
        background-color: rgb(107, 180, 240) !important; 
        font-weight: bold;
    }

    .putverb {    
        flex-grow: 2; 
        background-color: rgb(231, 231, 154) !important; 
        font-weight: bold;
    }

    .deleteverb { 
        flex-grow: 2;
        background-color: lightcoral !important;  
        font-weight: bold;
    }

    .endpoint-uri {
        flex-grow: 10;
    }

    .subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}