.endpointlistitemcontainer {
  padding: 0em;
  display: flex;
  flex-direction: row;
  width: 100%;

  mat-card-content {
    min-width: 90%;
    max-width: 90%;
    margin-left: 5%;
    padding: 1%;
  }

  .verb {
    font-weight: bold;
    text-align: center;
    vertical-align: 50%;
    font-size: 0.75em;
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 80%;
    max-width: 80%;
  }
}
