<div class="row my-4">
  <div class="col-4"><app-endpoint-list></app-endpoint-list></div>
  <div class="col">
    <nb-card>
      <nb-card-body *ngIf="shouldShowOverview; else edit_scenario">
        <app-scenario-overview
          (addNewClicked)="onAddNewClicked()"
        ></app-scenario-overview>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <button nbButton [routerLink]="['']" class="mr-2">Go Back</button>
  <button nbButton (click)="onExportClicked()">Export Mock File</button>
</div>

<ng-template #edit_scenario>
  <app-edit-scenario></app-edit-scenario>
</ng-template>
