<!-- Endpoint overview with Scenario Overview -->
<div class="row my-4" *ngIf="shouldShowOverview; else edit_scenario">
  <div class="col-4">
    <app-endpoint-list></app-endpoint-list>
  </div>
  <div class="col">
    <nb-card>
      <nb-card-body>
        <app-scenario-view
          [scenarios]="
            this.mockDefinition.scenarios
              | getEndpointScenarios: this.selectedEndpoint
          "
        ></app-scenario-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <button nbButton (click)="onBack()" class="mr-2">Go Back</button>
  <button nbButton (click)="onExportClicked()" class="mr-2">
    Export Json
  </button>
  <button nbButton data-toggle="modal" data-target="#serverExport" class="mr-2">
    Export to Server
  </button>
</div>

<!-- Scenario Overview with edit scenario page -->
<ng-template #edit_scenario>
  <div class="row">
    <div class="col-4">
      <nb-card>
        <nb-card-body>
          <app-scenario-overview
            [scenarios]="
              this.mockDefinition.scenarios
                | getEndpointScenarios: this.selectedEndpoint
            "
          ></app-scenario-overview>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-8">
      <nb-card>
        <nb-card-body>
          <app-edit-scenario></app-edit-scenario>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-template>

<!-- Modal for exporting to server -->
<div id="serverExport" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modeal-title" id="title">Export to Server</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Enter server URI below</label>
          <input
            (input)="tcode = $event.target.value"
            type="text"
            class="form-control"
            id="serverUri"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="CloseButton"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          (click)="onServerExport()"
          class="btn btn-primary"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
