.container {
  display: flex;
  flex-direction: row;

  .selectionList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .list-label {
      align-self: center;
      margin-bottom: 1em;
      color: rgba(0, 0, 0, 0.539261);
      font-size: 0.9em;
      font-weight: 500;
    }

    .list-card {
      flex-grow: 1;
      box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3),
        0px 15px 12px rgba(0, 0, 0, 0.22);
      border-radius: 0.1em;
    }
  }

  .button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;

    button {
      margin: 1em 0;
    }
  }
}

.export-to-server {
  width: 37.3vw;
  height: auto;
  margin-top: 2em;
}

.list-item {
  width: 100%;
  margin: 1em 0 !important;
  h5 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
  }
}

span.center {
  text-align: center;
}

.buttons-div {
  justify-content: space-between;
  justify-self: flex-end;
  align-items: flex-end;
  margin: 2em 0;
  button {
    width: 10.234vw;
    max-width: 131px;
  }
}

button.multiline {
  line-height: 1.4em;
}

p.subtitle {
  font-size: 0.9em;
}
