<div class="container">
  <mat-select #protocolSelect [(value)]="selectedProtocol">
    <mat-option *ngFor="let protocol of protocols" [value]="protocol">
      {{ protocol }}
    </mat-option>
  </mat-select>
  <app-text-input
    [title]="title"
    maxLength="200"
    [control]="inputControl"
  ></app-text-input>
  <div id="submit-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="sendRequest()"
      [disabled]="sendRequestDisabled()"
    >
      Submit</button
    ><mat-spinner diameter="25" [id]="getSpinnerId()"></mat-spinner>
  </div>
</div>
