<mat-card class="rest-request-input-form row center-hr">
  <form class="row">
    <app-text-input
      class="capitalize"
      title="Server URI - Required"
      maxLength="200"
      [control]="inputControl"
      [errorMessages]="errorMessages"
    ></app-text-input>
    <div id="submit-buttons">
      <button
        mat-raised-button
        color="primary"
        (click)="sendRequest()"
        [disabled]="!inputControl.valid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
