.rest-request-input-form {
  min-width: 48.109vw;
  max-width: 600px;
  margin: 6.824vh auto;
  align-items: center;
  form {
    align-items: center;

    div {
      button {
        max-width: 100px;
      }
    }
  }
}

div#submit-buttons {
  display: flex;
  flex-direction: row;
}

mat-spinner {
  margin-left: 10px;
  flex-direction: center;
  display: none;
}
