<mat-card class="create-mock-form row center-hr">
  <form class="column">
    <h3 class="capitalize">Create New Mock</h3>
    <app-text-input
      class="titleInput capitalize"
      title="Title - Required"
      maxLength="200"
      [control]="formGroup.controls['title']"
    ></app-text-input>
    <app-text-input
      class="flex-grow capitalize"
      title="Description"
      maxLength="1000"
      multiLine="true"
      [control]="formGroup.controls['description']"
    ></app-text-input>
    <mat-checkbox
    class="tkValid"
    name="tkValid"
    [formControl]="formGroup.controls['validateToken']"
    >Token Validation</mat-checkbox>
  <app-text-input
    class="flex-grow capitalize"
    [title]="this.validateToken.value ? 'Key - Required' : 'Key'"
    maxLength="200"
    multiLine="true"
    [control]="formGroup.controls['key']"
    class="tokenKey"
  ></app-text-input>
    <app-tool-tip message="Find out more about OpenAPI Specification 2.0: http://bit.ly/swagger-v2"
      ><app-file-input
        class="column"
        [multiple]="false"
        type="file"
        (fileContentEmit)="setOpenApiFile($event)"
        label="Select OpenAPI File - Required"
        accept=".yml,.yaml, .json"
        [errorMessage]="errorMessageToEmitFromCreate"
      >
      </app-file-input
    ></app-tool-tip>

    <div class="row buttons-div">
      <button mat-raised-button color="primary" (click)="goBack()">
        Back
      </button>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="createMock()">
        Next
      </button>
    </div>
  </form>
</mat-card>
