<mat-card class="mat-elevation-z20 import-from-file-container">
  <mat-card-title>Import From File</mat-card-title>
  <mat-card-subtitle
    >Import an existing Mockdefinition file below</mat-card-subtitle
  >
  <app-file-input
    class="capitalize"
    [control]="formGroup.controls.openApiFile"
    label="Select File - Required"
    fileTypes=".yml,.yaml"
  >
  </app-file-input>
  <mat-card-subtitle>Imported Mock Definitions</mat-card-subtitle>
  <mat-card class="import-from-file">
    <span *ngIf="!!formGroup.controls.openApiFile?.value?.name">
      <mat-list>
        <mat-list-item>
          <h3 matLine>{{ formGroup.controls.openApiFile?.value?.name }}</h3>
          <p matLine>{{ errorMessages('openApiFile') }}</p>
          <mat-icon matListIcon>
            <span *ngIf="errorMessages('openApiFile').length !== 0"
              >cancel</span
            >
            <span *ngIf="errorMessages('openApiFile').length === 0"
              >check_circle_outline</span
            ></mat-icon
          >
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </span>
  </mat-card>

  <div class="row buttons-div">
    <button mat-raised-button color="primary" (click)="goBack()">
      Back
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="formGroup.invalid"
      (click)="createMock()"
    >
      Next
    </button>
  </div>
</mat-card>
