<div class="rule-set-selector-container">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Request Rule Type</mat-label>
    <mat-select [(ngModel)]="currentRuleType">
      <mat-option *ngFor="let rule of ruleTypes | keyvalue: compareAllEqual" [value]="rule.key">
        {{ rule.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-kvp-edit-rule
  *ngIf="currentRuleType === 'header'"
  [addKvpTitle]="'Add New Header Match Rule'"
  [matchRuleFormArray]="this.requestMatchRuleFormGroup.controls.headerMatchRules"
>
</app-kvp-edit-rule>

<app-kvp-edit-rule
  *ngIf="currentRuleType === 'query'"
  [addKvpTitle]="'Add New Query Match Rule'"
  [matchRuleFormArray]="this.requestMatchRuleFormGroup.controls.queryMatchRules"
>
</app-kvp-edit-rule>

<app-url-edit-rule
  *ngIf="currentRuleType === 'url'"
  [urlMatchRuleFormArray]="this.requestMatchRuleFormGroup.controls.urlMatchRules"
>
</app-url-edit-rule>

<app-body-edit-rule
  *ngIf="currentRuleType === 'body'"
  [bodyMatchRuleFormArray]="this.requestMatchRuleFormGroup.controls.bodyMatchRules"
>
</app-body-edit-rule>

<app-kvp-edit-rule
  *ngIf="currentRuleType === 'token_payload'"
  [addKvpTitle]="'Add New JWT Payload Match Rule'"
  [matchRuleFormArray]="this.tokenRuleFormArray"
></app-kvp-edit-rule>
