<mat-accordion>
  <mat-expansion-panel [disabled]="this.isCardDisabled" [expanded]="this.panelExpanded">
    <mat-expansion-panel-header class="right-aligned-header">
      <mat-panel-title>
        Request Match Rules
      </mat-panel-title>
      <mat-panel-description
        >Query Match Rules, Header Match Rules, Url Match Rules and Body Match Rules</mat-panel-description
      >
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            Header Match Rules
          </mat-panel-title>
          <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <app-kvp-edit-rule
          [savedKvpType]="this.requestMatchRule?.headerRules"
          [addKvpTitle]="'Add New Header Match Rule'"
          [Save]="this.shouldSave"
          (savedKvpEmitter)="handleHeaderKvpOutput($event)"
        >
        </app-kvp-edit-rule>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            Query Match Rules
          </mat-panel-title>
          <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <app-kvp-edit-rule
          [savedKvpType]="this.requestMatchRule?.queryRules"
          [addKvpTitle]="'Add New Query Match Rule'"
          [Save]="this.shouldSave"
          (savedKvpEmitter)="handleQueryKvpOutput($event)"
        >
        </app-kvp-edit-rule>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            Url Match Rules
          </mat-panel-title>
          <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <app-url-edit-rule [urlMatchRuleFormArray]="this.requestMatchRuleFormGroup.controls.urlMatchRules">
        </app-url-edit-rule>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            Body Match Rules
          </mat-panel-title>
          <mat-divider></mat-divider>
        </mat-expansion-panel-header>
        <app-add-body-rule-container
          [bodyRules]="this.requestMatchRule?.bodyRules"
          [saveBodyRules]="this.shouldSave"
          (bodyRulesOutput)="handleBodyOutput($event)"
        >
        </app-add-body-rule-container>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
