::ng-deep .right-aligned-header .mat-content {
  display: flex;
  flex-direction: column;
}

::ng-deep mat-expansion-panel {
  padding: 16px;
}

::ng-deep mat-panel-description {
  font-size: 0.85em;
}
