<p class="description">{{ addKvpTitle }}</p>

<div class="kvp-edit-rule">
  <mat-divider class="divider-padding"></mat-divider>
  <app-kvp-add-rule class="add-rule" (kvp)="addKvp($event)" [kvpAddedError]="this.kvpIsDuplicated"></app-kvp-add-rule>
</div>
<ng-template [ngIf]="this.matchRuleFormArray.controls.length" [ngIfElse]="noRulesAdded">
  <div *ngFor="let kv of matchRuleFormArray.controls; let i = index">
    <app-kvp-list-item-rule-type
      [editRuleFormGroup]="kv"
      (removeKvp)="deleteKvpFromRule(i)"
    ></app-kvp-list-item-rule-type>
  </div>
</ng-template>

<ng-template #noRulesAdded>
  No Rules Added
</ng-template>
