<p class="description">{{ addKvpTitle }}</p>

<div class="kvp-edit-rule">
  <mat-divider class="divider-padding"></mat-divider>
  <app-kvp-add-rule class="add-rule" (kvp)="addKvp($event)" [kvpAddedError]="this.kvpIsDuplicated"></app-kvp-add-rule>
</div>
<ng-template
  [ngIf]="!!this.savedKvpType && this.savedKvpType.length"
  [ngIfElse]="noRulesAdded"
>
  <div *ngFor="let kv of savedKvpType">
    <app-kvp-list-item-rule-type
      [kvp]="kv"
      (removeKvp)="deleteKvpFromRule($event)"
    ></app-kvp-list-item-rule-type>
  </div>
</ng-template>

<ng-template #noRulesAdded>
  No rules Added KVP Rule
</ng-template>
