.endpointlistcontainer {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    width: 100%;
    
    mat-list-item {
        margin-top: 15%;
        width: 100%;
    }

    app-endpoint-list-item {
        width: 100%;
    }
}