.endpointlistcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1.5vw;

  mat-list-item {
    margin-top: 0.6em;
    width: 100%;
    height: auto;
  }

  app-endpoint-list-item {
    width: 100%;
  }
}
