.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mat-card {
  padding: 0.75em;
  min-width: 35vw;
  margin-bottom: 1em;
}

.body-add-card {
  padding: 1.5em;
}

.body-value {
  flex: 1;
  padding-right: 3vw;
  padding-left: 3vw;
  margin-top: -5em;
}

.body-rule-summary {
  font-size: 18px;
  font-weight: 800;
}

.delete-button-container {
  float: right;
  padding-right: 1em;
  cursor: pointer;
}

.rule-type {
  margin-right: 3.25em;
}

.error-message {
  padding-left: 1.5em;
  padding-top: 1em;
}

#bodyaddrule {
  height: 12em;
}
