.side-bar-container {
  min-width: 14vw;
  min-height: 85vh;
  background-color: white;
  border-right: 0.1em solid rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  position: sticky;
  top: 0;
  height: 98vh;
  .side-bar-top {
    min-width: 14vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.4vh;
    h1 {
      opacity: 0.54;
      font-size: 1em;
      margin-left: 1.5em;
      margin-top: 2vh;
    }
  }

  .divider {
    width: 90% !important;
    margin: auto;
  }

  .side-bar-middle {
    min-width: 14vw;
    margin-bottom: 2vh;

    h4 {
      font-weight: 400;
      color: white;
      padding-left: 1em;
      width: 7.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .selected {
      background: #646464 !important;
      color: white !important;
      opacity: 1;

      mat-icon {
        opacity: 1;
      }
    }

    .mock-name {
      justify-content: space-between;

      .mock-list-item {
        overflow: hidden;
        max-width: 15em;
        cursor: pointer;
        margin-left: 18px;
      }

      .edit-close-buttons {
        display: inline-flex;
        justify-content: right;
      }
    }
  }

  .side-bar-bottom {
    min-width: 14vw;
    margin-top: 1vh;
  }
}

mat-action-list button mat-icon {
  opacity: 1;
}

mat-action-list a mat-icon {
  opacity: 1;
}

mat-action-list button h4 {
  font-size: 0.9em !important;
}

mat-action-list button:hover {
  background: #f0f0f0;
  cursor: pointer;
  button {
    background: #f0f0f0;
  }
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
