<mat-card>
  <div class="search-bar-div">
    <mat-icon>search</mat-icon><input #searchBar matInput />
  </div>
  <div *ngIf="!!this.list.length" class="checkbox-div">
    <mat-checkbox
      color="primary"
      (change)="onSelectAll($event)"
      [checked]="selectAllChecked"
      [disabled]="searchedList.length === 0"
    >
      {{ checkboxLabel }}
    </mat-checkbox>
    <mat-divider></mat-divider>
  </div>
  <mat-selection-list
    #matList
    class="matList"
    (selectionChange)="optionSelected($event)"
  >
    <mat-list-option
      *ngFor="let item of searchedList"
      [value]="item"
      color="primary"
      checkboxPosition="before"
    >
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { item: item }"
      ></ng-container>
    </mat-list-option>
    <mat-list-item class="emptyMessage" *ngIf="list.length === 0">
      <span>{{ emptyListMessage }}</span>
    </mat-list-item>
    <mat-list-item
      class="emptyMessage"
      *ngIf="list.length > 0 && searchedList.length === 0"
    >
      <span>{{ noSearchResultsMessage }}</span>
    </mat-list-item>
  </mat-selection-list>
</mat-card>
