<div class="side-bar-container" mode="side" opened>
  <div class="side-bar-bottom">
    <button mat-list-item (click)="openCancelDialogOrNavigateToUrl('/export-to-server')">
      <mat-icon matListItemIcon>new_releases</mat-icon>
      <h4 matListItemTitle>Quick Export</h4>
    </button>
    <div *ngIf="exportStatusMessage?.length" class="status-message">{{ exportStatusMessage }}</div>
    <div *ngIf="exportErrorMessage?.length" class="error-message">{{ exportErrorMessage }}</div>
  </div>
</div>
