button h4 {
  font-size: 0.9em !important;
}

button:hover {
  background: #f0f0f0;
  cursor: pointer;
  button {
    background: #f0f0f0;
  }
}

.status-message {
  color: grey;
  padding-left: 20px;
}

.error-message {
  color: red;
  padding-left: 20px;
}
