<mat-card class="create-mock-form row center-hr">
  <form class="column">
    <h3 class="capitalize" *ngIf="!editMode">Create New Mock</h3>
    <h3 class="capitalize" *ngIf="editMode">Edit Mock</h3>

    <app-text-input
      class="titleInput capitalize"
      title="Title - Required"
      maxLength="40"
      [control]="formGroup.controls['title']"
    ></app-text-input>
    <app-text-input
      class="descInput flex-grow capitalize"
      title="Description"
      maxLength="1000"
      multiLine="true"
      [control]="formGroup.controls['description']"
    ></app-text-input>

    <div *ngIf="!editMode" class="open-api">
      <app-file-input
        class="column"
        [multiple]="false"
        type="file"
        (fileContentEmit)="setOpenApiFile($event)"
        label="Select OpenAPI File - Required"
        accept=".yml,.yaml, .json"
        [errorMessage]="errorMessageToEmitFromCreate"
      >
      </app-file-input>
      <a href="https://bit.ly/swagger-v2" target="_blank">
        <app-tool-tip message="Find out more about OpenAPI Specification 2.0" [delay]="0"></app-tool-tip>
      </a>
    </div>
    <div class="token-validation-row">
      <mat-checkbox class="tkValid" name="tkValid" [formControl]="formGroup.controls['validateToken']">
        Token Validation
      </mat-checkbox>
    </div>

    <div class="row buttons-div">
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
      <button *ngIf="!editMode" mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="createMock()">
        Create
      </button>
      <button *ngIf="editMode" mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="editMock()">
        Edit
      </button>
    </div>
  </form>
</mat-card>
