.body-add {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
}

.body-add-form {
  display: flex;
  flex-direction: row;
}

.body-rule-input-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.button-wrapper {
  margin: auto;
}

.body-value {
  width: 100%;
}

.error-message {
  margin: auto;
  padding: 16px 16px 0 16px;
  font-size: 14px;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 20em;
}
