<div *ngIf="this.mockdefinition != null" class="fullscreen column center-hr">
  <div class="container scenarioview">
    <div class="row">
      <div class="sidebar">
        <app-side-bar></app-side-bar>
      </div>
      <div class="scenarios">
        <div>
          <app-overview [header]="headerContent"></app-overview>
        </div>
        <div>
          <app-search-bar> </app-search-bar>
          <app-scenario-list
            [scenarios]="
              this.mockdefinition?.scenarios
                | getEndpointScenarios: selectedEndpoint
            "
          ></app-scenario-list>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="this.mockdefinition != null" #headerContent>
  <div class="title">
    <h3>{{ this.mockdefinition?.metadata?.title }}</h3>
  </div>
  <p>{{ this.mockdefinition?.metadata?.description }}</p>
</ng-template>
