.item-form {
  margin-bottom: 0.5rem;
}

.mat-divider {
  margin: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.justify-content-center {
  justify-content: center;
}
