<ng-container [formGroup]="form">
  <app-body-rule-item-form
    formControlName="add"
    title="Add {{ itemName }}"
    mode="add"
    (addItemEvent)="addItemHandler($event)"
    [itemIsDuplicatedEvent]="itemIsDuplicatedEvent"
  ></app-body-rule-item-form>

  <mat-divider></mat-divider>

  <div class="text-muted" *ngIf="!formArray.controls.length">No {{ itemNamePlural }} added.</div>

  <div class="item-form" formArrayName="formArray" *ngFor="let ctrl of formArray.controls; let i = index">
    <app-body-rule-item-form
      [mode]="newItemIndex === i ? 'edit' : 'view'"
      [formControlName]="i"
      (removeItemEvent)="removeItemHandler(i)"
      [touched]="touched"
      (touchedEvent)="touch()"
      [errors]="ctrl.errors | getStringErrors"
    ></app-body-rule-item-form>
  </div>
</ng-container>
